{% extends 'base.html' %}

{% block head %}
<title>turntable</title>
{% endblock %}

{% block body %}
<div class="about-page">
    <h3>welcome to turntable</h3>
    <p> welcome to turntable, a service of <a href="https://recordstore.substack.com" target="_blank">Record Store</a> by  <a href="https://www.amayalim.com" target="_blank">amaya lim</a>. explore playlists by artist or by recommendation. the recommendation algorithm is built on audio features and genre markers, not ads or popularity. isn't that nice?</p>
    <p>you can view the article I wrote about making this app <a href="https://recordstore.substack.com/p/special-introducing-turntable" target="_blank">here</a>.</p>
    <p>you can view the source code for turntable <a href="https://github.com/nightrainlily/turntable" target="_blank">here</a>.</p>
</div>
{% endblock %}