<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/favicon.png">
    <link rel="stylesheet" href="../static/css/main.css">
    {% block head %}{% endblock %}
</head>
<header>
    <a href="../">
        <img src="../static/logo.gif" alt="Logo" class="logo">
    </a>
</header>
<body>
    {% block body %}{% endblock %}
    {% block scripts %}
    <script>
        const width = window.innerWidth;
    
        document.body.addEventListener('click', (event) => {
            const link = event.target.closest('[id="playlist-link"]');
            if (link) {
                event.preventDefault();
                const playlistId = link.dataset.playlistId;
                const href = `/playlist/${playlistId}?width=${width}`;
                window.location.href = href;
            }
        });
    </script>
    {% endblock %}
</body>
</html>