{% extends 'base.html' %}

{% block head %}
<title>turntable</title>
{% endblock %}

{% block body %}
<div class="header">
    <div class="logo"></div>
</div>
<div class="playlists-container">
    {% for playlist in playlists %}
        <div class="playlist">
            <a href="{{ url_for('playlist_details', playlist_id=playlist.playlist_id) }}"><img src="{{ playlist.image }}" alt="{{ playlist.name }}"></a>
            <p>{{ playlist.name }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}