{% extends 'base.html' %}

{% block head %}
<title>{{ playlist.name }}</title>
<script defer src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block body %}
<div class="playlist-page-container">
    <div class="playlist-page">
        <div class="playlist-page-div">
            <div class="playlist-page-image">
                <img src="{{ playlist.image }}" alt="playlist.name" class="playlist-image">
                <div class="title-row">
                    <p>
                        <a href="{{ playlist.url }}" target="_blank">
                            <img class="play-icon" src="../static/play.png">
                        </a>
                        {{ playlist.name }}
                    </p>
                </div>
            </div>
            
        </div>
        <div class="playlist-page-div">
            <div class="playlist-tracks">
                {% for track in playlist_tracks %}
                    <div class="track-row">
                        <a href="https://open.spotify.com/track/{{ track.track_id }}" target="_blank">
                            <img class="play-icon" src="../static/play.png">
                        </a>
                        <p>{{ track.name }} by 
                            <a href="{{ url_for('artist_playlists', artist_id=track.artist_id) }}">{{ track.artist }}
                            </a>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div>
    <div class="playlist-page-playlists-container">
        <h2 class="rec-title">more like {{ playlist.name }}</h2>
        {% for playlist in model_playlists %}
            <div class="playlist">
                <a id="playlist-link" data-playlist-id="{{ playlist.playlist_id }}" href="#">
                    <img src="{{ playlist.image }}" alt="{{ playlist.name }}">
                </a>
                <p>{{ playlist.name }}</p>
            </div>
        {% endfor %}
    </div>
</div>
<div id="graph-div">
    {% if viewport >= 768 %}
        {% for graph in graphs %}
        <div class="features-graph">
            {{ graph|safe }}
        </div>
        {% endfor %}
    {% else %}
        {% for graph in graphs %}
        <div class="features-graph">
            <img src="data:image/jpg;base64,{{ graph }}">
        </div>
        {% endfor %}
    {% endif %}
    <div class="graph-captions">
        <p>for interactive graphs, use desktop. base genre graph via <a href="https://everynoise.com/">everynoise.com</a></p>
        <p>the audio features endpoint has been <a href="https://developer.spotify.com/blog/2024-11-27-changes-to-the-web-api">depreciated</a> since November 2024. playlists made after this date are missing audio feature data.</p>
    </div>
    <!-- {# {% for graph in graphs %}
    <div class="features-graph">
        {{ graph[0]|safe }}
    </div>
    {% endfor %} #} -->
</div>
{% endblock %}